@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
.body {
  background-color: #fbfbfb !important;
}
/* Default Pagination Style */
.custom-pagination {
  display: flex;
  flex-direction: column; /* Arrange bullets vertically */
  gap: 10px; /* Space between bullets */
  background: transparent; /* Transparent background */
  padding: 10px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6); /* Semi-transparent bullets */
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #ff0000; /* Active bullet color */
  width: 14px;
  height: 14px;
  opacity: 1;
}

.Cont-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099; /* Dark overlay */
  z-index: 1; /* Ensure it's behind text but over the image */
  border-radius: 35px;
}

.Cont-text {
  position: absolute;
  top: 40%;
  /* left: 50px; */
  transform: translateY(-40%);
  z-index: 2; /* Ensures text is above overlay */
  color: white;
}

ul > li {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
